@import '../../../assets/styles/vendors/vendors';

// helpers
@import '../../../assets/styles/helper/function';
@import '../../../assets/styles/helper/mixins';
@import '../../../assets/styles/helper/variabls';

// partials
@import '../../../assets/styles/partial/reset';
@import '../../../assets/styles/partial/typography.scss';
@import '../../../assets/styles/partial/placeholder';
// pages
@import '../../../assets/styles/pages/global';
// 404
.not-found-main {
  max-width: 800px;
  margin: 150px auto 20px;
  width: 100%;
  h3 {
    @extend .pt-sanse-bold;
    font-size: 24px;
    line-height: 36px;
    color: #252525;
    @extend .text-center;
    margin: 15px 0;
    padding: 0;
  }
  P {
    @extend .pt-sanse-regular;
    font-size: 16px;
    line-height: 24px;
    color: #252525;
    @extend .text-center;
    margin: 15px 0 0;
    padding: 0;
  }
}
