<h3>Employee List</h3>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Salary</th>
            <th>JoinDate</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="employees.length==0">
            <td colspan="10" class="text-center"> No Records Found... </td>
        </tr>
        <tr *ngFor="let emp of employees">
            <td>{{emp.id}}</td>
            <td>{{emp.firstName | uppercase }}</td>
            <td>{{emp.lastName | lowercase }}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.address}}</td>
            <td>{{emp.city}}</td>
            <td>{{emp.state.abbreviation}}, {{emp.state.name}}</td>
            <td>{{emp.salary|currency:'INR':true:'1.2-2'}}</td>
            <td>{{emp.joinDate | date:"MM/dd/yy"}}</td>
            <td>{{emp.rating}}</td>
        </tr>
    </tbody>
</table>