<h3>Employee2 Get Data From Api</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngIf="employees.length==0">
            <td colspan="10" class="text-center"> No Records Found... </td>
        </tr> -->
        <tr *ngFor="let emp of employees">
            <td>{{emp.employee_name | uppercase}}</td>
            <td>{{emp.employee_salary}}</td>
            <td>{{emp.employee_age}}</td>
        </tr>
    </tbody>
</table>