h3 {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin: 25px 0;
    padding: 0;
}

table {
    width: 100%;
    margin: 25px 0 0;
    padding: 0;
    border: 1px solid #cccccc;
    tr {
        th {
            background-color: #dddddd;
            text-align: center;
            font-size: 16px;
            line-height: normal;
            font-weight: 600;
            padding: 8px;
            border-right: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            &:last-child {
                border-right: 0;
            }
        }
        td {
            font-size: 16px;
            line-height: normal;
            font-weight: 600;
            padding: 8px;
            border-bottom: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            &:last-child {
                border-right: 0;
            }
        }
        &:last-child {
            td {
                border-bottom: 0;
            }
        }
    }
}