<div class="welcome-section">
    <h1>Welcome to My Angular Test!</h1>
    <figure class="image-block">
        <img src="../../../assets/images/angularjs-banner.png" alt="" />
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit adipisci id, sint dolore. Vero eligendi velit, doloremque ipsam ipsa consequatur aut deleniti cum fugit placeat suscipit cupiditate quis obcaecati est.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia magni aut nulla, error odio nihil eaque asperiores optio similique, veniam sapiente accusantium fugiat cum neque nisi labore, dolor eum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis temporibus unde, saepe explicabo! Eius suscipit, quo repudiandae at animi atque fugit necessitatibus eos hic, aliquam, dolore quisquam quod quam totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita est, minus eius accusantium alias
    quis sequi ratione earum, cupiditate adipisci officiis autem. Eos id fugiat veniam dolorum, doloremque sed neque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, nesciunt excepturi maxime in quibusdam. </p>
    <p>Dolore eligendi qui porro veritatis deserunt, sequi vero in dolorum reiciendis nemo cumque, ratione non nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, sit sunt minima, numquam saepe, velit illo aliquam quis odit ipsum incidunt inventore ducimus itaque nobis officiis fugit delectus. Consequatur, reprehenderit!</p>
</div>
