<nav class="nav">
    <li routerLinkActive="active"><a href="">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/about-us/">About us</a></li>
    <li routerLinkActive="active"><a routerLink="/privacy-policy/">Privacy policy</a></li>
    <li routerLinkActive="active"><a routerLink="/terms-and-conditions/">Terms and Conditions</a></li>
    <li routerLinkActive="active"><a routerLink="/forms/template-driven-form">Angular Forms</a>
        <ul>
            <li><a routerLink="/forms/template-driven-form">Template Driven Form</a></li>
            <li><a routerLink="/forms/reactiveForm">Reactive Form</a></li>
        </ul>
    </li>
    <li routerLinkActive="active"><a routerLink="/employee">Employee</a></li>
</nav>